/// Primary colors

// Primary
$primary: #a71930;


/// Supporting colors

// Aqua
$blue: #6fafb7;

// New Leaf
$green: #d7e923;

// Fucshia
$pink: #e23d96;

// Tangerine
$orange: #f26522;

// Light pink
$pink-light: #e4bac1;


/// Greys

// White
$white: #fff;

// Grey offwhite
$grey-offwhite: #edf4f5;

// Grey light
$grey-light: #e3e6e8;

// Soft grey
$soft-grey: #b0b7bc;

// Slate grey
$slate-grey: #455560;

// Slate grey, dark
$slate-grey-dark: #293339;
