//
// Habanero Prototype Boilerplate
// Author: Habanero Consulting Group
//

// CSS prefix
@prefix: ~"hcf";


// Color
@white: #fff;
@black: #000;

@grey-lighter: lighten(@grey, 25%);
@grey-light:   lighten(@grey, 10%);
@grey:         #999999;
@grey-dark:    darken(@grey, 10%);
@grey-darker:  darken(@grey, 25%);


// Font Family
@font-family-sansserif: Arial, Helvetica, sans-serif;
@font-family-serif: Georgia, "Times New Roman", serif;
@font-family-monospace: Consolas, monospace;

@font-family-body: @font-family-sansserif;
@font-family-heading: @font-family-serif;


// Font Size
@font-size-smaller: 11px;
@font-size-small:   13px;
@font-size-medium:  16px;
@font-size-large:   20px;
@font-size-larger:  24px;


// Line Height
@line-height-body: 1.4;
@line-height-heading: 1.2;


// Grid
@grid-container: 950px;
@grid-columns: 24;
@grid-column-width: 30px;
@grid-gutter-width: 10px;


// Container Sizes
@container-xs: 100%;
@container-sm: 100%;
@container-md: 960px;
@container-lg: 1188px;


// Container Sizes
@grid-gutter-xs-width: 2px;
@grid-gutter-sm-width: 10px;
@grid-gutter-md-width: 10px;
@grid-gutter-lg-width: 12px;


// Media queries breakpoints
@screen-sm-min: 630px;
@screen-md-min: 960px;
@screen-lg-min: 1280px;


// Media queries
@media-screen-sm: ~"(min-width: @{screen-sm-min})";
@media-screen-md: ~"(min-width: @{screen-md-min})";
@media-screen-lg: ~"(min-width: @{screen-lg-min})";

@media-hdpi: ~"(-webkit-min-device-pixel-ratio: @{screen-resolution-hdpi}),"
             ~"(min-resolution: ("(@screen-resolution-hdpi * 100dpi)~")),"
             ~"(min-resolution: ("(@screen-resolution-hdpi * 1dppx)~"))";


// Resolution/DPI
@screen-resolution-hdpi: 1.5;


// URL paths
@url-project-images: "../images/";


// Sprite
@sprite-url: "../images/spritesheet.png";
@sprite-2x-url: "../images/spritesheet@2x.png";

@sprite-column-width: 20px;
@sprite-size: 320px 320px;