/*! refernece/mixins/_arrows.scss */

@mixin content {
	content: "";
	display: block;
	position: absolute;
}

@mixin arrow-right($size, $color) {
	@include content;

	border-bottom: $size solid transparent;
	border-left: $size solid $color;
	border-top: $size solid transparent;
}

@mixin arrow-left($size, $color) {
	@include content;

	border-bottom: $size solid transparent;
	border-right: $size solid $color;
	border-top: $size solid transparent;
}

@mixin arrow-up($size, $color) {
	@include content;

	border-bottom: $size solid $color;
	border-left: $size solid transparent;
	border-right: $size solid transparent;
}

@mixin arrow-down($size, $color) {
	@include content;

	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}
