// reference/mixins/_fonts.scss

@mixin font-face($family, $filename, $style: normal, $weight: normal) {
	@font-face {
		src: inline('fonts/#{$filename}') format('woff');

		font-family: '#{$family}';
		font-style: $style;
		font-weight: $weight;
	}
}
