// reference/mixins/_helpers.scss */

@import '../variables/reference';

@import 'media-queries';


//
// clean-list Removes bullets and white-space from lists
//
@mixin clean-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


//
// clear-fix Forces elements to contain float child elements
//
@mixin clear-fix {
	zoom: 1;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}


//
// image-replacement
//
@mixin image-replacement {
	display: block;
	border: 0;
	overflow: hidden;
	text-indent: -9999px;
}


//
// sr-only Screen-reader only
//
@mixin sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


//
// transition A basic transition
//
@mixin transition {
	transition: transition($global-transition);
}
