<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Add cache policy for static files -->
		<!-- <caching>
			<profiles>
				<add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
				<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365:00:00:00" />
			</profiles>
		</caching> -->

		<!-- Disable browsing of directories -->
		<!-- <directoryBrowse enabled="false" /> -->

		<!-- Custom 404 page -->
		<!-- <httpErrors errorMode="Custom">
			<clear />
			<error statusCode="404" path="/not-found" responseMode="ExecuteURL" />
		</httpErrors> -->

		<!-- Redirect non-www to www -->
		<!-- <rewrite>
			<rules>
				<rule name="Redirect to www">
					<match url=".*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" />
					</conditions>
					<action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite> -->

		<!-- Add MIME types for JSON, WOFF, WEBP -->
		<!-- <staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent> -->
	</system.webServer>
</configuration>
