// reference/variables/_colors.scss

// Color
$white: #fff;
$black: #000;

$grey:				#455560;
$grey-light:		#b0b7bc;
$grey-lighter:		#eff3f5;
$grey-dark:			#293339;
$grey-darker:		#131a1e;

$red:				#a71830;
$red-light:			lighten($red, 12.5%);
$red-dark:			darken($red, 12.5%);

$orange:			#f26522;
$orange-light:   	#ffedcf;

$blue:				#28abe3;
$blue-light:		#a5e4ff;
$blue-dark:			#0c445c;

$yellow:			#e8b71a;
$yellow-dark:		#5c4705;

$green:				#1fda9a;
$green-light:		#bffae6;
$green-dark:		#044d34;

$pink:				#e23d96;
$pink-light:		#ffbfec;
$pink-dark:			#e328ab;
