/*! reference/variables/_colors.scss */

// Color
$white: #fff;
$black: #000;


// Greys

// Taken from ZURB's Foundation
// https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss#L288

$grey-alpha:    #FAFAFA;
$grey-bravo:    #F9F9F9;
$grey-charlie:  #F6F6F6;
$grey-delta:    #F5F5F5;
$grey-epsilon:  #EFEFEF;
$grey-foxtrot:  #EEEEEE;
$grey-gamma:    #DDDDDD;
$grey-hotel:    #CED3DA;
$grey-india:    #ACB3BD;
$grey-juliett:  #999999;
$grey-kilo:     #888888;
$grey-lima:     #777777;
$grey-mike:     #666666;
$grey-november: #5D6268;
$grey-oscar:    #444444;
$grey-papa:     #333333;
$grey-quebec:   #222222;
$grey-sierra:   #000000;
