// reference/variables/_colors.scss

// Color
$white: #fff;
$black: #000;


// Greys

// Taken from ZURB's Foundation
// https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss#L288

$grey-alfa:     #fafafa;
$grey-bravo:    #f9f9f9;
$grey-charlie:  #f6f6f6;
$grey-delta:    #f5f5f5;
$grey-epsilon:  #efefef;
$grey-foxtrot:  #eee;
$grey-gamma:    #ddd;
$grey-hotel:    #ced3da;
$grey-india:    #acb3bd;
$grey-juliett:  #999;
$grey-kilo:     #888;
$grey-lima:     #777;
$grey-mike:     #666;
$grey-november: #5d6268;
$grey-oscar:    #444;
$grey-papa:     #333;
$grey-quebec:   #222;
$grey-sierra:   #000;
