// reference/variables/_z-index.scss

$z-index-alpha:   1000;
$z-index-bravo:   2000;
$z-index-charlie: 3000;
$z-index-delta:   4000;
$z-index-epsilon: 5000;
$z-index-foxtrot: 6000;
$z-index-gamma:   7000;
$z-index-hotel:   8000;
$z-index-india:   9000;
