<div id="suiteBar" class="ms-dialogHidden noindex">
    <div id="suiteBarLeft">
        <div class="ms-table ms-fullWidth">
            <div class="ms-tableRow">
                <div class="ms-tableCell ms-verticalAlignMiddle">
                    <div class="ms-core-brandingText">SharePoint</div>

                </div>
                <div id="DeltaSuiteLinks" class="ms-core-deltaSuiteLinks">

                    <div id="suiteLinksBox">

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="suiteBarRight">
        <div id="DeltaSuiteBarRight" class="ms-core-deltaSuiteBarRight">
            <div id="welcomeMenuBox">

                <span class="ms-menu-althov ms-welcome-root" title="Open Menu" style="white-space:nowrap">
                    <a class="ms-core-menu-root" accesskey="/" href="javascript:;" title="Open Menu">
                        SharePoint User
                    </a>
                </span>
            </div>

            <div id="suiteBarButtons">
                <span class="ms-siteactions-root">
                    <span class="ms-siteactions-normal" title="Settings">
                        <a class="ms-core-menu-root" accesskey="/" href="javascript:;" title="Settings">
                            <span class="ms-siteactions-imgspan">
                                <img class="ms-core-menu-buttonIcon" src="images/spcommon.png" alt="Settings" title="Settings">
                            </span>
                        </a>
                    </span>
                </span>
                <span id="ms-help">
                    <a style="display:inline-block;height:30px;width:30px;">
                        <span style="display:inline-block;overflow:hidden;height:16px;width:16px;padding-left:7px;padding-top:7px;padding-right:7px;padding-bottom:7px;">
                            <span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust">
                                <img src="images/spintl.png?rev=23" alt="Help" style="border:0;position:absolute;left:-19px;top:-1px;">
                            </span>
                        </span>
                    </a>
                </span>
            </div>

        </div>
    </div>
</div>