/*!
 * Habanero Prototype Boilerplate
 * Author: Habanero Consulting Group
 */

@import (reference) "reference/_extends";
@import (reference) "reference/_mixins";
@import (reference) "reference/_mixins_compatibility";
@import (reference) "reference/_variables";

@import (inline) "vendor/normalize.css";
@import (inline) "vendor/h5boilerplate.css";

// Reset media queries for Internet Explorer 8 and below
@media-screen-sm: ~"screen";
@media-screen-md: ~"screen";
@media-screen-lg: ~"screen";

@import "vendor/_grid";

@import "_main";