// components/_block.sass

@import '../reference/reference';

$block: 'block';

.#{$block} {
	&__element {
		font-family: $font-family-sansserif;
	}

	&--modifier {
		font-family: $font-family-serif;
	}
}
