<div id="s4-ribbonrow" style="height: 35px;">
	<div id="globalNavBox" class="noindex">
		<div id="ribbonBox">
			<div id="s4-ribboncont">
				<div id="DeltaSPRibbon">
					<div id="RibbonContainer">
						<div class="ms-cui-ribbon ms-cui-needIEFilter" id="Ribbon" aria-describedby="ribboninstructions" oncontextmenu="return false" role="toolbar">
							<div class="ms-cui-ribbonTopBars">
								<div class="ms-cui-topBar2">
									<div class="ms-cui-jewel-container" id="jewelcontainer" style="display:none">
									</div>
									<div class="ms-cui-TabRowLeft ms-core-defaultFont ms-dialogHidden" id="RibbonContainer-TabRowLeft">
									</div>
									<ul class="ms-cui-tts" role="tablist">
										<li class="ms-cui-tt ms-browseTab ms-cui-tt-s" id="Ribbon.Read-title" role="tab">
											<a class="ms-cui-tt-a" href="javascript:;" onclick="_ribbonStartInit('Ribbon.Read',false, event);" title="Browse">
												<span class="ms-cui-tt-span">Browse</span>
												<span class="ms-cui-hidden">Tab 1 of 3.</span>
											</a>
										</li>
										<li class="ms-cui-tt" id="Ribbon.WikiPageTab-title" role="tab">
											<a class="ms-cui-tt-a" href="javascript:;" title="Page">
												<span class="ms-cui-tt-span">Page</span>
												<span class="ms-cui-hidden">Tab 2 of 3.</span>
											</a>
										</li>
										<li class="ms-cui-tt" id="Ribbon.PublishTab-title" role="tab">
											<a class="ms-cui-tt-a" href="javascript:;" title="Publish">
												<span class="ms-cui-tt-span">Publish</span>
												<span class="ms-cui-hidden">Tab 3 of 3.</span>
											</a>
										</li>
									</ul>
									<div class="ms-cui-TabRowRight s4-trc-container s4-notdlg ms-core-defaultFont" id="RibbonContainer-TabRowRight" style="display: block;">
										<a id="ctl00_site_share_button" title="Give people access to this site." class="ms-promotedActionButton" href="#" style="display:inline-block;">
											<span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust ms-promotedActionButton-icon">
												<img src="images/spcommon.png?rev=23" alt="Share" style="position: absolute; left: -200px; top: -48px;">
											</span>
											<span class="ms-promotedActionButton-text">Share</span>
										</a>
										<a id="site_follow_button" title="Follow this site and get back to it easily from your sites page." class="ms-promotedActionButton" href="#" style="display:inline-block;">
											<span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust ms-promotedActionButton-icon">
												<img src="images/spcommon.png?rev=23" alt="Follow" style="position: absolute; left: -218px; top: -48px;">
											</span>
											<span class="ms-promotedActionButton-text">Follow</span>
										</a>

										<a class="ms-rtefocus-invalid ms-promotedActionButton" href="javascript:" title="Edit">
											<span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust ms-promotedActionButton-icon">
												<img src="images/spcommon.png?rev=23" style="position: absolute; left: -236px; top: -84px;" alt="Edit">
											</span>
											<span class="ms-promotedActionButton-text">Edit</span>
										</a>
										<span id="fullscreenmodebox" class="ms-qatbutton">
											<span id="fullscreenmode">
												<a title="Focus on Content" href="../_catalogs/masterpage/#" style="display:inline-block;height:30px;width:30px;">
													<span style="display:inline-block;overflow:hidden;height:16px;width:16px;padding-left:7px;padding-top:7px;padding-right:7px;padding-bottom:7px;">
														<span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust">
															<img src="images/spcommon.png?rev=23" alt="Focus on Content" style="border: 0px; position: absolute; left: -143px; top: -178px;">
														</span>
													</span>
												</a>
											</span>
										</span>


									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>