<div class="ms-webpart-zone ms-fullWidth">
    <div id="MSOZoneCell_WebPartcontrolId" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
        <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
            <!-- Web parts -->
        </div>
    </div>
</div>