<div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="false" id="WebPartcontrolId_00000000-0000-0000-0000-000000000000" width="100%" class="ms-WPBody noindex" allowDelete="false">
    <div id="controlId_00000000-0000-0000-0000-000000000000">
        <!-- Web part content -->
    </div>
    
    <div class="ms-clear"></div>
</div>