<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{> head-opengraph }}

	<!-- build:css(.tmp/scss) styles/styles.min.css -->
	<link rel="stylesheet" href="styles/style.css">
	<!-- endbuild -->
</head>
<body>
	{{> body-gtm }}

	<div class="container-fluid">

		{{> body-header }}

		{{> body }}

		{{> body-footer }}

	</div>

	<!-- build:js scripts/vendor/jquery.min.js -->
	<script src="scripts/vendor/jquery/jquery.js"></script>
	<!-- endbuild -->

	<!-- build:js scripts/main.min.js -->
	<script src="scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>
