<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{> head-opengraph }}

	<!-- build:css(./.tmp) styles/styles.min.css -->
	<link rel="stylesheet" href="styles/style.css">
	<!-- endbuild -->

	<!-- build:js(./.tmp) scripts/head.min.js -->
	<script src="scripts/head.entry.gen.js"></script>
	<!-- endbuild -->
</head>
<body>
	{{> body-gtm }}

	<div class="container-fluid">

		{{> body-header }}

		{{#markdown}}{% body %}{{/markdown}}

		{{> body-footer }}

	</div>

	<!-- build:js(./.tmp) scripts/body.min.js -->
	<script src="scripts/body.entry.gen.js"></script>
	<!-- endbuild -->
</body>
</html>
