<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{#if title}}{{title}} | {{site.title}}{{else}}{{site.title}}{{/if}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- build:css(.tmp/less) styles/styles.min.css -->
	<link rel="stylesheet" href="styles/vendor/sharepoint.css">
	<link rel="stylesheet" href="styles/style.css">
	<!-- endbuild -->

	<!-- build:js scripts/vendor/modernizr.min.js -->
	<script src="scripts/vendor/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>
	<form id="aspnetForm">

		{{> suitebar }}

		{{> ribbon }}

		<div id="s4-workspace" class="ms-core-overlay">

			<div class="container-fluid" id="s4-bodyContainer">

				{{> header }}

				{{> body }}

				{{> footer }}

			</div>

		</div>

	</form>

	<!-- build:js scripts/vendor/jquery.min.js -->
	<script src="scripts/vendor/jquery/jquery.js"></script>
	<!-- endbuild -->

	<!-- build:js scripts/main.min.js -->
	<script src="scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>